@import "tailwindcss";

@theme {
  --color-burgundy: #800020;
  --color-burgundy-dark: #5c0017;
  --color-charcoal: #374151;
  --color-cream: #F5F3E7;
  --color-cream-dark: #ECE8D9;
  --color-teal: #008080;
  --color-teal-dark: #006666;

  --font-display: 'Fraunces', serif;
  --font-body: 'Inter', sans-serif;
}

body {
  background-color: var(--color-cream);
  color: var(--color-charcoal);
  font-family: var(--font-body);
}